{% extends 'base.html.twig' %}

{% block head_additions %}
    {% set meta_description = 'Follow Firefox trains and major milestones easily!' %}
    <meta name="description" content="{{ meta_description }}">
    <meta property="twitter:description" content="{{ meta_description }}">
    <meta property="og:url" content="https://whattrainisitnow.com/release/?version=esr">
{% endblock %}

{% block main %}
  {% if constant('ESR_NEXT') %}
  <h1 class="mx-auto w-50  mb-3 text-center">Firefox <abbr title="Extended Support Release ">ESR</abbr> {{ current_ESR|number_format }} & {{ next_ESR|number_format }}</h1>
  {% else %}
  <h1 class="mx-auto w-50  mb-3 text-center">Firefox {{ constant('MAIN_ESR') }} <abbr title="Extended Support Release ">ESR</abbr></h1>
  {% endif %}

  <div class="w-50 alert alert-primary mx-auto text-center mb-3" role="alert">Version shipping to end-users on the <b class="text-danger">ESR</b> channel</div>

 {% set table_header = 'text-secondary-emphasis fw-semibold' %}

  <table class="table table-light table-fxt-clean table-sm w-50 justify-content-center mb-3">
    <tr class="table-warning">
      <th class="{{ table_header }}">Last release</th>
      <td title="{{ release_date|format_date('full') }}">{{ release_date|format_date('long') }}</td>
    </tr>
    {% if constant('ESR_NEXT') != "" %}
    <tr class="bg-warning">
      <th class="{{ table_header }}">Latest version (old branch)</th>
      <td> {{ current_ESR }}</td>
    </tr>
    <tr>
      <th class="{{ table_header }}">Latest version (new branch)</th>
      <td> {{ next_ESR }}</td>
    </tr>
    {% else %}
    <tr>
      <th class="{{ table_header }}">Latest version</th>
      <td> {{ current_ESR }}</td>
    </tr>
    {% endif %}
  </table>

{% if constant('OLD_ESR')|number_format == 115 %}
  {% set alert = alert ~ '

<div class="me-4">
  <svg class="text-danger" width="48" height="48" role="img" aria-label="Warning:">
    <use xlink:href="#exclamation-triangle-fill"/>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
</div>
<div class="w-100">
  We decided to extend support for ESR 115 <b>only</b> on <i>Windows 7-8.1</i> and <i>macOS 10.12-10.14</i> up to <b>September 2025</b>.<br>
  We will re-evaluate this decision in August 2025 and announce any updates on ESR 115\'s end-of-life then.
</div>

  '%}
{% endif %}

<div class="alert alert-danger w-50 mb-3 mx-auto d-flex text-center " role="alert">{{ alert|raw }}</div>

<table class="table table-light table-fxt-clean table-sm w-50 justify-content-center mb-3">
  <tr>
    <th colspan="4" class="text-center table-warning force-default-bg">Releases calendar</th>
  </tr>
  <tr>
    <th class="text-center">Firefox</th>
    <th class="text-center">ESR</th>
    <th class="text-center">Old ESR</th>
    <th class="text-end">Date</th>
  </tr>

{% for key, values in esr_calendar %}
  <tr>
    <td {{ date(values.date) < date() ? ' class="text-muted fw-light"' }}><a href="/release/?version={{ values.release }}">{{ values.release }}</a></td>
    <td  class="fw-bold{{ date(values.date) < date() ? ' text-muted fw-light' }}">{{ values.esr }}</td>

    <td {{ date(values.date) < date() ? ' class="text-muted fw-light"' }}>

      {%  if values.old_esr %}
        {{ values.old_esr }}
      {%  endif %}

      {%  if values.esr_115 %}
        - {{ values.esr_115 }}
      {%  endif %}

    </td>

    <td title="{{ values.date|format_date('full') }}"  {{ date(values.date) < date() ? ' class="text-muted fw-light w-auto"' }} class="w-auto">

    {% if values.release|number_format in esr_majors %}
      <small class="badge bg-warning text-dark">New ESR {{values.release}} branch!</small>
    {% endif %}


    {% if values.release|number_format == 143 %}
        <small class="badge bg-warning text-dark">ESR 115 branch is EOL</small>
    {% endif %}

    {% if
        values.release|number_format > values.esr|number_format
        and values.release|number_format - values.esr|number_format == 3
        and values.old_esr|number_format != 115
    %}
        <small class="badge bg-warning text-dark">ESR 128 branch is EOL</small>
    {% endif %}

    {{ values.date|format_date(pattern='MMMM d') }}
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}

{% block footer %}
  {% include 'footer_UTC_warning.html.twig' %}
{% endblock %}
