{% extends 'base.html.twig' %}

{% block main %}

  {%  if constant('ESR_NEXT')    %}
  <h2 class="mx-auto w-50 text-center">Firefox <abbr title="Extended Support Release ">ESR</abbr> {{ current_ESR|number_format }} & {{ next_ESR|number_format }}</h2>
  {%  else %}
  <h2 class="mx-auto w-50 text-center">Firefox {{ current_ESR|number_format }} <abbr title="Extended Support Release ">ESR</abbr></h2>
  {%  endif %}

  <div class="w-50 alert alert-primary mx-auto text-center" role="alert">Version shipping to end-users on the <b class="text-danger">ESR</b> channel</div>
  <table class="table table-light table-striped table-bordered table-sm w-50 justify-content-center">
    {%  if constant('ESR_NEXT') != "" %}
    <tr>
      <th class="w-auto">Latest version (old branch)</th>
      <td> {{ current_ESR }}</td>
    </tr>
    <tr>
      <th class="w-auto">Latest version (new branch)</th>
      <td> {{ next_ESR }}</td>
    </tr>
    <tr>
    {%  else %}
    <tr>
      <th class="w-auto">Latest version</th>
      <td> {{ current_ESR }}</td>
    </tr>
    <tr>
    {%  endif %}
      <th class="w-auto">Release Date</th>
      <td title="{{ release_date|format_date('full', locale='en') }}">{{ release_date|format_date('long', locale='en') }}</td>
    </tr>
    </table>

<table class="table table-light table-striped table-bordered table-sm w-50 justify-content-center mt-4">
  <tr>
    <th colspan="4" class="text-center table-warning">Releases calendar</th>
  </tr>
  <tr>
    <th>Firefox</th>
    <th>ESR</th>
    <th>Old ESR</th>
    <th>Date</th>
  </tr>

{% for key, values in esr_calendar %}
  <tr>
    <td {{ date(values.date) < date() ? ' class="text-muted fw-light"' }} class="fst-italic fw-light">{{ values.release }}</td>
    <td  class="fw-bold{{ date(values.date) < date() ? ' text-muted fw-light' }}">{{ values.esr }}</td>
    <td {{ date(values.date) < date() ? ' class="text-muted fw-light"' }}>{{ values.old_esr }}</td>
    <td title="{{ values.date|format_date('full', locale='en') }}"  {{ date(values.date) < date() ? ' class="text-muted fw-light w-auto"' }} class="w-auto">

    {%  if values.release|number_format in esr_majors %}
      <small class="badge bg-warning text-dark">New ESR branch!</small>
    {% endif %}

    {% if values.release|number_format > values.esr|number_format and  values.release|number_format - values.esr|number_format == 3 %}
      <small class="badge bg-warning text-dark">Previous ESR branch is EOL</small>
    {% endif %}

    {{ values.date|format_date(pattern='MMMM d', locale='en') }}
    </td>
  </tr>
{% endfor %}

</table>

{% endblock %}

{% block footer %}
     {%  include 'footer_UTC_warning.html.twig' %}
{% endblock %}
