{% extends 'base.html.twig' %}

{% block head_additions %}
    {% set meta_description = 'Follow Firefox trains and major milestones easily!' %}
    <meta name="description" content="{{ meta_description }}">
    <meta property="twitter:description" content="{{ meta_description }}">
    <meta property="og:url" content="https://whattrainisitnow.com/release/?version=esr">
{% endblock %}

{% block main %}
  {% if constant('ESR_NEXT') %}
    <h1 class="mx-auto w-50  mb-3 text-center">Firefox <abbr title="Extended Support Release ">ESR</abbr> {{ current_ESR|number_format }} & {{ next_ESR|number_format }}</h1>
  {% else %}
    <h1 class="mx-auto w-50  mb-3 text-center">Firefox {{ constant('MAIN_ESR') }} <abbr title="Extended Support Release ">ESR</abbr></h1>
  {% endif %}

    <div class="w-50 alert alert-primary mx-auto text-center mb-3" role="alert">Version shipping to end-users on the <b class="text-danger">ESR</b> channel</div>

 {% set table_header = 'text-secondary-emphasis fw-semibold' %}

    <table class="table table-light table-fxt-clean table-sm w-50 justify-content-center mb-3">
        <tr class="table-warning">
            <th class="{{ table_header }}">Last release</th>
            <td title="{{ release_date|format_date('full') }}">{{ release_date|format_date('long') }}</td>
        </tr>
    {% if constant('ESR_NEXT') != "" %}
        <tr class="bg-warning">
            <th class="{{ table_header }}">Latest version (old branch)</th>
            <td> {{ current_ESR }}</td>
        </tr>
        <tr>
            <th class="{{ table_header }}">Latest version (new branch)</th>
            <td> {{ next_ESR }}</td>
        </tr>
    {% else %}
        <tr>
            <th class="{{ table_header }}">Latest version</th>
            <td> {{ current_ESR }}</td>
        </tr>
    {% endif %}
    </table>

    <table class="table table-light table-fxt-clean table-sm w-50 mt-4 justify-content-center mb-3">
        <caption class="h4 text-center text-warning">Upcoming ESR releases</caption>
        <tr class="table-warning text-center">
            <th class="px-3 text-secondary-emphasis fw-semibold">Firefox</th>
            <th class="px-3 text-secondary-emphasis fw-semibold">ESR</th>
            <th class="px-3 text-secondary-emphasis fw-semibold">Old ESR</th>
            <th class="px-3 text-secondary-emphasis fw-semibold text-end">Shipping date</th>
        </tr>
    {% for key, values in esr_calendar %}
        {% if values.date|format_date(pattern='YYYY') != year %}
            <tr>
                <th colspan="4" class="text-end table-dark fw-normal bg-purple-lighter border border-0 p-2">{{ values.date|format_date(pattern='YYYY') }}&nbsp;↓</th>
            </tr>
            {% set year = values.date|format_date(pattern='YYYY') %}
        {% endif %}
        <tr>
            <td {{ date(values.date) < date() ? ' class="text-muted fw-light"' }}><a href="/release/?version={{ values.release }}">{{ values.release }}</a></td>
            <td class="fw-bold{{ date(values.date) < date() ? ' text-muted fw-light' }}">{{ values.esr }}</td>
            <td {{ date(values.date) < date() ? ' class="text-muted fw-light"' }}>
        {# Remove the first part of this condition when esr 115 is EOL #}
        {% if values.esr_115 %}
            {% if (values.old_esr) %}
                {{ values.old_esr }} - {{ values.esr_115 }}
            {% else %}
                {{ values.esr_115 }}
            {% endif %}
        {% else %}
            {% if (values.old_esr) %}
                {{ values.old_esr }}
            {% endif %}
        {% endif %}
            </td>
            <td title="{{ values.date|format_date('full') }}"  {{ date(values.date) < date() ? ' class="text-muted fw-light w-auto"' }} class="w-auto">
        {% if values.release|number_format in esr_majors %}
                <small class="badge bg-warning text-dark">New ESR {{values.release}} branch!</small>
        {% endif %}

        {% if values.release|number_format == esr_115_eol +1 %}
                <small class="badge bg-warning text-dark">ESR 115 branch is EOL</small>
        {% endif %}

        {% if
            values.release|number_format > values.esr|number_format
            and values.release|number_format - values.esr|number_format == 3
        %}
                <small class="badge bg-warning text-dark">ESR {{ esr_eol_tag }} branch is EOL</small>
        {% endif %}

        {{ values.date|format_date(pattern='MMMM d') }}
            </td>
        </tr>
        {#  We use a temp variable to store the EOL ESR version for the visual bubble #}
        {% set esr_eol_tag =  values.old_esr|number_format %}
    {% endfor %}
    </table>

{% endblock %}

{% block footer %}
  {% include 'footer_UTC_warning.html.twig' %}
{% endblock %}
