{% extends 'base.html.twig' %}

{% block header %}
     {%  include 'release_nav.html.twig' %}
{% endblock %}

{% block main %}
{% if not fallback_content %}
  {% if  release == constant('FIREFOX_RELEASE')|number_format + 1  %}
    {% set alert = 'Version currently on the <b class="text-danger">Beta</b> channel.' %}
    {% set channel = 'beta' %}

  {% elseif release == constant('FIREFOX_RELEASE')|number_format + 2 %}
    {% set alert = 'Version currently available on the <b class="text-danger">Nightly</b> channel.' %}
    {% set channel = 'nightly' %}
  {% else %}
    {% set alert = 'Future version, development not started yet.' %}
    {% set channel = 'future' %}
  {% endif %}

{% if release == 109 %}
  {% set alert = alert ~ ' <p class="m-0 text-danger"><span class="information bi bi-info-square-fill fs-6 align-baseline"></span> No automated betas the last week of December.</p>'%}
{%  endif %}

  <div class="w-50 alert alert-primary mx-auto text-center" role="alert">{{ alert|raw }}</div>

  {% if channel == 'nightly' and not nightly_updates %}
  <div class="w-50 alert alert-warning mx-auto text-center" role="alert">
    Automatic Updates are currently <b class="text-danger">disabled</b>.
    {% if nightly_emergency %}
    <br><b>Reason :</b> {{ nightly_emergency }}
    {% endif %}
  </div>
  {% endif %}

  <table class="table table-light table-striped table-bordered table-sm w-50 justify-content-center">
    <tr>
      <th class="w-auto">Release Date</th><td title="{{ release_date|format_date('full', locale='en') }}">{{ release_date|format_date('long', locale='en') }}</td>
    </tr>
    <tr>
      <th class="w-auto">Release Owner</th><td>{{ release_owner }}</td>
    </tr>
    <tr>
      <th>Nightly cycle length</th><td>{{ nightly_cycle_length|number_format }} weeks</td>
    </tr>
    <tr>
      <th>Beta cycle length</th><td>{{ beta_cycle_length|number_format }} weeks</td>
    </tr>

    {% if channel == 'beta' %}
    <tr>
      <th>Bugs fixed in Nightly</th>
      <td>{{ nightly_fixes.bug_fixes|length }}</td>
    </tr>
    <tr>
      <th>Current Beta</th>
      <td>
      {% if date() > date(cycle_dates.rc_gtb) %}
        {{ constant('FIREFOX_BETA')|number_format(1) }} <small>Release Candidate</small>
      {% else %}
        {{ constant('FIREFOX_BETA') }}
      {% endif %}
      </td>
    </tr>
    {% endif %}

    {% if release == '91' %}
    <tr class="table-warning">
      <td colspan="2" class="text-center fw-bold">{{ release }} is the next <abbr title="Extended Support Release" class="initialism">ESR</abbr></td>
    </tr>
    {% endif %}

    {% if OLDER_ESR %}
    <tr>
      <th>Corresponding ESR releases</th>
      <td>{{ ESR }} &middot; {{ OLDER_ESR }} </td>
    </tr>

    {% else %}
    <tr>
      <th>Corresponding ESR release</th>
      <td>{{ ESR }}</td>
    </tr>
    {% endif %}

  </table>

  {% set btb = ' <small class="text-secondary fw-light">Go to build</small>' %}
  {% set cycle_labels = {
    nightly_start: 'Nightly starts',
    soft_code_freeze: 'Soft Code Freeze starts',
    string_freeze: 'String Freeze starts',
    merge_day: 'Merge day',
    beta_1: 'Beta 1' ~ btb,
    beta_2: 'Beta 2' ~ btb,
    beta_3: 'Beta 3' ~ btb,
    beta_4: 'Beta 4' ~ btb,
    beta_5: 'Beta 5' ~ btb,
    beta_6: 'Beta 6' ~ btb,
    beta_7: 'Beta 7' ~ btb,
    beta_8: 'Beta 8' ~ btb,
    beta_9: 'Beta 9' ~ btb,
    beta_10: 'Beta 10' ~ btb,
    beta_11: 'Beta 11' ~ btb,
    beta_12: 'Beta 12' ~ btb,
    beta_13: 'Beta 13' ~ btb,
    beta_14: 'Beta 14' ~ btb,
    beta_15: 'Beta 15' ~ btb,
    rc_gtb: 'Release Candidate' ~ btb,
    rc: 'Release Candidate',
    release: 'Release day!',
    planned_dot_release: 'Planned dot release'
    }
  %}
 {% set cycle_descriptions = {
    nightly_start: 'The first day of the cycle is <i>Merge Day</i>. After merging mozilla-central to mozilla-beta, we bump the Nightly version number on mozilla-central and a new development cycle starts for Firefox. A new Firefox Nightly is shipped every 12 hours.',
    soft_code_freeze: 'We are nearing the end of the Nightly cycle. Don\'t land new untested features. Risky changes should be avoided until after <i>Merge Day</i>.',
    string_freeze: 'In order to ensure that our localizers have adequate time to translate strings, please make sure that all string changes have landed by end of day.',
    merge_day: 'This is the day in the release cycle when we merge mozilla-central into mozilla-beta. This is the end of the development cycle for Firefox ' ~ release ~ ' and the beginning of our Beta stabilization cycle.',
    beta_1: 'Built manually just after the merge. It is rolled out to 25% of our beta population. Some experimental features are still activated to watch their behavior on a wider population. These experimental features will be deactivated mid-cycle. Uplift requests are open.',
    beta_2: 'First automated beta of the cycle. It is rolled out to 50% of our beta population.<br>Stabilization work via uplifts.',
    beta_3: 'Beta rollout bumped to 100% provided stability is good.<br>Stabilization work via uplifts.',
    beta_4: 'Stabilization work via uplifts.',
    beta_5: 'Stabilization work via uplifts.',
    beta_6: 'On a regular 4 weeks beta cycle, Beta 6 is the last beta with experimental features still activated.<br>Stabilization work via uplifts.',
    beta_7: 'Experimental features are no longer activated at compile time.<br>Stabilization work via uplifts.',
    beta_8: 'Last week of the beta cycle.<br>Stabilization work via uplifts.',
    beta_9: 'On a regular 4 weeks beta cycle, this is the last beta and thus the end of beta uplifts.',
    beta_10: 'Extra beta usually due to a longer beta cycle.<br>Stabilization work via uplifts.',
    beta_11: 'Extra beta usually due to a longer beta cycle.<br>Stabilization work via uplifts.',
    beta_12: 'Extra beta usually due to a longer beta cycle.<br>Stabilization work via uplifts.',
    beta_13: 'Extra beta usually due to a longer beta cycle.<br>Stabilization work via uplifts.',
    beta_14: 'Extra beta usually due to a longer beta cycle.<br>Stabilization work via uplifts.',
    beta_15: 'Extra beta usually due to a longer beta cycle.<br>Stabilization work via uplifts.',
    rc_gtb:  'We merge our mozilla-beta repository to mozilla-release and close mozilla-beta until the next merge day. We then build our Release Candidate from mozilla-release. This is the build we intend to ship a week later unless we need to build a second Release Candidate to fix a major quality or business critical issue.',
    rc: 'Our Release Candidate is shipped to all of our beta population',
    release: 'We ship Firefox ' ~ release ~ ' at 6AM PST at 25% rollout',
    planned_dot_release: 'Two weeks after the release, we ship a dot release to address identified quality issues if needed. We may have to ship other dot releases before that date. If this is the case and post-release quality issues are already fixed and shipped, the decision on shipping or not the planned dot release is on the release management team.'
    }
  %}

  {% set next_milestone = true %}

  <table class="table table-light table-striped table-bordered table-sm w-50 justify-content-center mt-4">
  <tr>
    <th colspan="2" class="text-center table-warning">Milestones</th>
  </tr>
  {% for key, value in cycle_dates %}
    {% if key != 'version' %}
      {% set extra = '' %}

      {% if key == 'soft_code_freeze' %}
        {% set extra = ' <small class="badge bg-warning text-dark">Draft beta release notes</small>' %}
      {% endif %}

      {% if key == 'beta_6' %}
        {% set extra = ' <small class="badge bg-warning text-dark">Early betas end</small>' %}
      {% endif %}

      {% if key == 'beta_9' %}
        {% set extra = ' <small class="badge bg-warning text-dark">Last beta uplifts</small>' %}
      {% endif %}

      {% if key == 'rc' %}
        {% set extra = ' <small class="badge bg-warning text-dark">Release notes finalized</small>' %}
      {% endif %}

    <tr>
      {% if date(value) < date() %}

        {% if key starts with 'beta' and key == 'beta_1' %}
            <th class="text-muted fw-light">
              <details>
                <summary><a href="https://hg.mozilla.org/releases/mozilla-beta/pushloghtml?fromchange=FIREFOX_BETA_{{constant('FIREFOX_BETA')|number_format}}_BASE&amp;tochange=FIREFOX_{{constant('FIREFOX_BETA')|number_format}}_0b1_RELEASE" class="link-secondary" title="Mercurial changelog">{{ cycle_labels[key]|raw }}{{ extra|raw }}</a></summary>
              <p>{{ cycle_descriptions[key]|raw }}</p>
              </details>
            </th>
        {%  elseif key starts with 'beta' and key != 'beta_1' %}
          <th class="text-muted fw-light">
              <details>
                <summary><a href="https://hg.mozilla.org/releases/mozilla-beta/pushloghtml?fromchange=FIREFOX_{{constant('FIREFOX_BETA')|number_format}}_0b{{ key|replace({'beta_':''}) -1 }}_RELEASE&amp;tochange=FIREFOX_{{constant('FIREFOX_BETA')|number_format}}_0b{{ key|replace({'beta_':''}) }}_RELEASE" class="link-secondary" title="Mercurial changelog">{{ cycle_labels[key]|raw }}{{ extra|raw }}</a></summary>
              <p>{{ cycle_descriptions[key]|raw }}</p>
              </details>
          </th>
        {% else %}
          <th class="text-muted fw-light">
            <details>
              <summary>{{ cycle_labels[key]|raw }}{{ extra|raw }}</summary>
              <p>{{ cycle_descriptions[key]|raw }}</p>
            </details>
          </th>
        {% endif %}

      {% else %}
        <th>
          <details{{ next_milestone ? ' open'}}>
            <summary>{{ cycle_labels[key]|raw }}{{ extra|raw }}</summary>
          <p>{{ cycle_descriptions[key]|raw }}</p>
          </details>
        </th>
        {% set next_milestone = false %}
      {% endif %}

      <td title="{{ value|format_date('full', locale='en') }}"  {{ date(value) < date() ? ' class="text-muted fw-light"' }}>{{ value|format_date(pattern='MMMM d', locale='en') }}</td>
    </tr>
    {% endif %}
  {% endfor %}

  </table>

{% endif %}
  {{ fallback_content|raw }}

{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
