{% extends 'base.html.twig' %}

{% block header %}
  <header class="mx-auto">
    <h1>
      <a href="?version={{ release -1 }}" title="Previous release" alt="Go to previous release" class="text-decoration-none">«</a>
      &nbsp;Firefox&nbsp;{{ release }}&nbsp;
      {% if release != constant('FIREFOX_RELEASE') %}<a href="?version={{ release +1 }}" title="Next release" class="text-decoration-none" alt="Go to next release">»</a><br><a href="?version={{ constant('FIREFOX_RELEASE')|number_format }}" class="btn btn-primary">Go to Release channel</a>{% endif %}
    </h1>
  </header>
{% endblock %}

{% block main %}
{% if not fallback_content %}
  {% if  release == constant('FIREFOX_RELEASE')|number_format + 1  %}
    {% set alert = 'Version currently on the <b class="text-danger">Beta</b> channel.' %}
    {% set channel = 'beta' %}

  {% elseif  release == constant('FIREFOX_RELEASE')|number_format + 2 %}
    {% set alert = 'Version currently available on the <b class="text-danger">Nightly</b> channel.' %}
    {% set channel = 'nightly' %}
  {% else %}
    {% set alert = 'Future version, development not started yet.' %}
    {% set channel = 'future' %}
  {% endif %}

  <div class="w-50 alert alert-primary mx-auto text-center" role="alert">{{ alert|raw }}</div>

  <table class="table table-light table-striped table-bordered table-sm w-50 justify-content-center">
    <tr>
      <th class="w-auto">Release Date</th><td title="{{ release_date|format_date('full', locale='en') }}">{{ release_date|format_date('long', locale='en') }}</td>
    </tr>
    <tr>
      <th class="w-auto">Release Owner</th><td>{{ release_owner }}</td>
    </tr>
    <tr>
      <th>Nightly cycle length</th><td>{{ nightly_cycle_length|number_format }} weeks</td>
    </tr>
    <tr>
      <th>Beta cycle length</th><td>{{ beta_cycle_length|number_format }} weeks</td>
    </tr>

    {% if channel == 'beta' %}
    <tr>
      <th>Bugs fixed in Nightly</th>
      <td>{{ nightly_fixes.bug_fixes|length }}</td>
    </tr>
    <tr>
      <th>Current Beta</th>
      <td>
      {% if date() > date(cycle_dates.rc_gtb) %}
        {{ constant('FIREFOX_BETA')|number_format(1) }} <small>Release Candidate</small>
      {% else %}
        {{ constant('FIREFOX_BETA') }}
      {% endif %}
      </td>
    </tr>
    {% endif %}

    {% if release == '91' %}
    <tr class="table-warning">
      <td colspan="2" class="text-center fw-bold">{{ release }} is the next <abbr title="Extended Support Release" class="initialism">ESR</abbr></td>
    </tr>
    {% endif %}

    {% if PREVIOUS_ESR %}
    <tr>
      <th>Corresponding ESR releases</th>
      <td>{{ ESR }} &middot; {{ PREVIOUS_ESR }} </td>
    </tr>

    {% else %}
    <tr>
      <th>Corresponding ESR release</th>
      <td>{{ ESR }}</td>
    </tr>
    {% endif %}

  </table>

  {% set btb = ' <small class="text-secondary fw-light">Go to build</small>' %}
  {% set cycle_labels = {
    nightly_start: 'Nightly starts',
    soft_code_freeze: 'Soft Code Freeze starts',
    string_freeze: 'String Freeze starts',
    merge_day: 'Merge day',
    beta_1: 'Beta 1' ~ btb,
    beta_2: 'Beta 2' ~ btb,
    beta_3: 'Beta 3' ~ btb,
    beta_4: 'Beta 4' ~ btb,
    beta_5: 'Beta 5' ~ btb,
    beta_6: 'Beta 6' ~ btb,
    beta_7: 'Beta 7' ~ btb,
    beta_8: 'Beta 8' ~ btb,
    beta_9: 'Beta 9' ~ btb,
    beta_10: 'Beta 10' ~ btb,
    beta_11: 'Beta 11' ~ btb,
    beta_12: 'Beta 12' ~ btb,
    beta_13: 'Beta 13' ~ btb,
    beta_14: 'Beta 14' ~ btb,
    beta_15: 'Beta 15' ~ btb,
    rc_gtb: 'Release Candidate' ~ btb,
    rc: 'Release Candidate',
    release: 'Release day!'
    }
  %}

  <table class="table table-light table-striped table-bordered table-sm w-50 justify-content-center mt-4">
  <caption class="alert-success mx-auto text-center">Milestones</caption>
  {% for key,value in cycle_dates %}
    {% if key != 'version' %}
      {% set extra = '' %}

      {% if key == 'soft_code_freeze' %}
        {% set extra = ' <small class="badge bg-warning text-dark">Draft beta release notes</small>' %}
      {% endif %}

      {% if loop.revindex == 7%}
        {% set extra = ' <small class="badge bg-warning text-dark">Early betas end</small>' %}
      {% endif %}

      {% if loop.revindex == 4 %}
        {% set extra = ' <small class="badge bg-warning text-dark">Last beta uplifts</small>' %}
      {% endif %}

      {% if key == 'rc' %}
        {% set extra = ' <small class="badge bg-warning text-dark">Release notes finalized</small>' %}
      {% endif %}

    <tr {{ date(value) < date() ? ' class="text-muted fw-light"' }}>
      <th {{ date(value) < date() ? ' class="text-muted fw-light"' }}>{{ cycle_labels[key]|raw }}{{ extra|raw }}</th>
      <td title="{{ value|format_date('full', locale='en') }}">{{ value|format_date(pattern='MMMM d', locale='en') }}</td>
    </tr>
    {% endif %}
  {% endfor %}

  </table>

{% endif %}
  {{ fallback_content|raw }}

{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
