{% extends 'base.html.twig' %}

{% block header %}
  <header class="mx-auto">
    <h1>
      <a href="?version={{ release -1 }}">«</a>
      &nbsp;Firefox&nbsp;{{ release }}&nbsp;
      {% if release != constant('FIREFOX_RELEASE') %}<a href="?version={{ release +1 }}">»</a><br><a href="?version={{ constant('FIREFOX_RELEASE')|number_format }}" class="btn btn-primary">Latest Release</a>{% endif %}
    </h1>
  </header>
{% endblock %}

{% block main %}

{% if not fallback_content %}
  <table class="table table-striped table-bordered table-sm w-50 justify-content-center">
    <caption class="bg-info text-white text-center">This version is not released yet, this release date is a forecast.</caption>
    <tr>
      <th class=" w-25">Release Date</th><td>{{ release_date }}</td>
    </tr>
    <tr>
      <th>Beta cycle length</th><td>{{ beta_cycle_length|number_format }} weeks</td>
    </tr>
    <tr>
      <th>Nightly cycle length</th><td>{{ nightly_cycle_length|number_format }} weeks</td>
    </tr>
  </table>
{% endif %}
  <p>{{ fallback_content | raw}}</p>

{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
