{% extends 'base.html.twig' %}

{% block header %}
  <header class="mx-auto">
    <h1>
      <a href="?version={{ release -1 }}" title="Previous release" alt="Go to previous release">«</a>
      &nbsp;Firefox&nbsp;{{ release }}&nbsp;
      {% if release != constant('FIREFOX_RELEASE') %}<a href="?version={{ release +1 }}" title="Next release"  alt="Go to next release">»</a><br><a href="?version={{ constant('FIREFOX_RELEASE')|number_format }}" class="btn btn-primary">Go to Release channel</a>{% endif %}
    </h1>
  </header>
{% endblock %}

{% block main %}
{% if not fallback_content %}
  {% if  release == constant('FIREFOX_RELEASE')|number_format + 1  %}
    {% set alert = 'Version currently on the <b class="text-danger">Beta</b> channel.' %}
    {% set channel = 'beta' %}

  {% elseif  release == constant('FIREFOX_RELEASE')|number_format + 2 %}
    {% set alert = 'Version currently available on the <b class="text-danger">Nightly</b> channel.' %}
    {% set channel = 'nightly' %}
  {% else %}
    {% set alert = 'Future version, development not started yet.' %}
    {% set channel = 'future' %}
  {% endif %}

  <div class="w-25 alert alert-primary mx-auto text-center" role="alert">{{ alert|raw }}</div>

  <table class="table table-light table-striped table-bordered table-sm w-25 justify-content-center">
    <tr>
      <th class="w-50">Release Date</th><td title="{{ release_date|format_date('full', locale='en') }}">{{ release_date|format_date('long', locale='en') }}</td>
    </tr>
    <tr>
      <th class="w-50">Release Owner</th><td>{{ release_owner }}</td>
    </tr>
    <tr>
      <th>Beta cycle length</th><td>{{ beta_cycle_length|number_format }} weeks</td>
    </tr>
    <tr>
      <th>Nightly cycle length</th><td>{{ nightly_cycle_length|number_format }} weeks</td>
    </tr>

    {% if channel == 'beta' %}
    <tr>
      <th>Current Beta</th><td>{{ constant('FIREFOX_BETA') }}</td>
    </tr>
    {% endif %}
  </table>

  {% set cycle_labels = {
    nightly_start: 'Nightly starts',
    soft_code_freeze: 'Soft Code Freeze starts',
    string_freeze: 'String Freeze starts',
    merge_day: 'Merge day',
    beta_1: 'Beta 1',
    beta_2: 'Beta 2',
    beta_3: 'Beta 3',
    beta_4: 'Beta 4',
    beta_5: 'Beta 5',
    beta_6: 'Beta 6',
    beta_7: 'Beta 7',
    beta_8: 'Beta 8',
    beta_9: 'Beta 9',
    beta_10: 'Beta 10',
    rc_gtb: 'Go to Build Release Candidate',
    rc: 'RC',
    release: 'Release day!'
    }
  %}
  <table class="table table-light table-striped table-bordered table-sm w-25 justify-content-center mt-4">
  <caption class="alert-success mx-auto text-center" style="caption-side:top">Milestones</caption>
  {% for key,value in cycle_dates %}
    {% if key != 'version' %}
      {% set extra = '' %}
      {% if loop.revindex == 7 %}
        {% set extra = ' <small class="font-weight-light">early betas end</small>' %}
      {% endif %}
      {% if loop.revindex == 4 %}
        {% set extra = ' <small class="font-weight-light">last beta uplifts</small>' %}
      {% endif %}

    <tr {{ date(value) < date() ? ' class="text-muted font-weight-light"' }}>
      <th {{ date(value) < date() ? ' class="text-muted font-weight-light"' }}>{{ cycle_labels[key] }}{{ extra|raw }}</th>
      <td class="text-right" title="{{ value|format_date('full', locale='en') }}">{{ value|format_date(pattern='MMMM d', locale='en') }}</td>
    </tr>
    {% endif %}
  {% endfor %}

  </table>

{% endif %}
  {{ fallback_content|raw }}

{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
