{#
    This file contains all the templating code for the iOS schedule table.
    It is used by the past and future releases templates.
    iOS schedule adjustments with a template impact should happen in this file.
#}

{% set ios_cycle_labels = {
    merge_day_0:      release ~ '.0 branch is created',
    merge_day_1:      release ~ '.1 branch is created',
    merge_day_2:      release ~ '.2 branch is created',
    merge_day_3:      release ~ '.3 branch is created',
    merge_day_4:      release ~ '.4 branch is created',
    merge_day_5:      release ~ '.5 branch is created',
    rc_gtb_0:         release ~ '.0 release candidate is created',
    rc_gtb_1:         release ~ '.1 release candidate is created',
    rc_gtb_2:         release ~ '.2 release candidate is created',
    rc_gtb_3:         release ~ '.3 release candidate is created',
    rc_gtb_4:         release ~ '.4 release candidate is created',
    rc_gtb_5:         release ~ '.5 release candidate is created',
    qa_pre_signoff_0: 'Preliminary QA sign off on ' ~ release ~ '.0',
    qa_pre_signoff_1: 'Preliminary QA sign off on ' ~ release ~ '.1',
    qa_pre_signoff_2: 'Preliminary QA sign off on ' ~ release ~ '.2',
    qa_pre_signoff_3: 'Preliminary QA sign off on ' ~ release ~ '.3',
    qa_pre_signoff_4: 'Preliminary QA sign off on ' ~ release ~ '.4',
    qa_pre_signoff_5: 'Preliminary QA sign off on ' ~ release ~ '.5',
    qa_signoff_0:     'Final QA sign off on ' ~ release ~ '.0',
    qa_signoff_1:     'Final QA sign off on ' ~ release ~ '.1',
    qa_signoff_2:     'Final QA sign off on ' ~ release ~ '.2',
    qa_signoff_3:     'Final QA sign off on ' ~ release ~ '.3',
    qa_signoff_4:     'Final QA sign off on ' ~ release ~ '.4',
    qa_signoff_5:     'Final QA sign off on ' ~ release ~ '.5',
    appstore_sent_0:  release ~ '.0 sent to Apple Store',
    appstore_sent_1:  release ~ '.1 sent to Apple Store',
    appstore_sent_2:  release ~ '.2 sent to Apple Store',
    appstore_sent_3:  release ~ '.3 sent to Apple Store',
    appstore_sent_4:  release ~ '.4 sent to Apple Store',
    appstore_sent_5:  release ~ '.5 sent to Apple Store',
    release_0:  release ~ '.0 is shipped',
    release_1:  release ~ '.1 is shipped',
    release_2:  release ~ '.2 is shipped',
    release_3:  release ~ '.3 is shipped',
    release_4:  release ~ '.4 is shipped',
    release_5:  release ~ '.5 is shipped',
    }
%}

{% set ios_cycle_descriptions = {
    merge_day_0:      'The <code>firefox-v' ~ release ~ '.0</code> branch is created from the <code>main</code> branch. <code>version.txt</code> is bumped to ' ~ release ~ '.1 on <code>main</code>. Any further code change for the ' ~ release ~ '.0 release now requires an uplift request.',
    merge_day_1:      'The <code>firefox-v' ~ release ~ '.1</code> branch is created from the <code>main</code> branch. <code>version.txt</code> is bumped to ' ~ release ~ '.2 on <code>main</code>. Any further code change for the ' ~ release ~ '.1 release now requires an uplift request.',
    merge_day_2:      'The <code>firefox-v' ~ release ~ '.2</code> branch is created from the <code>main</code> branch. <code>version.txt</code> is bumped to ' ~ release ~ '.3 on <code>main</code>. Any further code change for the ' ~ release ~ '.2 release now requires an uplift request.',
    merge_day_3:      'The <code>firefox-v' ~ release ~ '.3</code> branch is created from the <code>main</code> branch. <code>version.txt</code> is bumped to ' ~ (release+1)  ~ '.0 on <code>main</code>. Any further code change for the ' ~ release ~ '.3 release now requires an uplift request.',
    merge_day_4:      'The <code>firefox-v' ~ release ~ '.4</code> branch is created from the <code>main</code> branch. <code>version.txt</code> is bumped to ' ~ release ~ '.5 on <code>main</code>. Any further code change for the ' ~ release ~ '.4 release now requires an uplift request.',
    merge_day_5:      'The <code>firefox-v' ~ release ~ '.5</code> branch is created from the <code>main</code> branch. <code>version.txt</code> is bumped to ' ~ (release+1)  ~ '.0 on <code>main</code>. Any further code change for the ' ~ release ~ '.5 release now requires an uplift request.',
    rc_gtb_0:         'The ' ~ release ~ '.0 release candidate is created based on the <code>firefox-v' ~ release ~ '.0</code> branch. This build might contain additional uplifts. Additionaly, the ' ~ (release-1) ~ '.3 release is tagged as shipped.',
    rc_gtb_1:         'The ' ~ release ~ '.1 release candidate is created based on the <code>firefox-v' ~ release ~ '.0</code> branch. This build might contain additional uplifts. Additionaly, the ' ~ release ~ '.0 release is tagged as shipped.',
    rc_gtb_2:         'The ' ~ release ~ '.2 release candidate is created based on the <code>firefox-v' ~ release ~ '.0</code> branch. This build might contain additional uplifts. Additionaly, the ' ~ release ~ '.1 release is tagged as shipped.',
    rc_gtb_3:         'The ' ~ release ~ '.3 release candidate is created based on the <code>firefox-v' ~ release ~ '.0</code> branch. This build might contain additional uplifts. Additionaly, the ' ~ release ~ '.2 release is tagged as shipped.',
    rc_gtb_4:         'The ' ~ release ~ '.4 release candidate is created based on the <code>firefox-v' ~ release ~ '.0</code> branch. This build might contain additional uplifts. Additionaly, the ' ~ release ~ '.3 release is tagged as shipped.',
    rc_gtb_5:         'The ' ~ release ~ '.5 release candidate is created based on the <code>firefox-v' ~ release ~ '.0</code> branch. This build might contain additional uplifts. Additionaly, the ' ~ release ~ '.4 release is tagged as shipped.',
    qa_pre_signoff_0: 'QA gives a preliminary sign off on ' ~ release ~ '.0. If it is green, we push the build to the External Beta Testers group. Otherwise, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_pre_signoff_1: 'QA gives a preliminary sign off on ' ~ release ~ '.1. If it is green, we push the build to the External Beta Testers group. Otherwise, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_pre_signoff_2: 'QA gives a preliminary sign off on ' ~ release ~ '.2. If it is green, we push the build to the External Beta Testers group. Otherwise, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_pre_signoff_3: 'QA gives a preliminary sign off on ' ~ release ~ '.3. If it is green, we push the build to the External Beta Testers group. Otherwise, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_pre_signoff_4: 'QA gives a preliminary sign off on ' ~ release ~ '.4. If it is green, we push the build to the External Beta Testers group. Otherwise, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_pre_signoff_5: 'QA gives a preliminary sign off on ' ~ release ~ '.5. If it is green, we push the build to the External Beta Testers group. Otherwise, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_signoff_0:     'QA gives its final sign off on ' ~ release ~ '.0. If the sign off is red, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_signoff_1:     'QA gives its final sign off on ' ~ release ~ '.1. If the sign off is red, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_signoff_2:     'QA gives its final sign off on ' ~ release ~ '.2. If the sign off is red, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_signoff_3:     'QA gives its final sign off on ' ~ release ~ '.3. If the sign off is red, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_signoff_4:     'QA gives its final sign off on ' ~ release ~ '.4. If the sign off is red, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    qa_signoff_5:     'QA gives its final sign off on ' ~ release ~ '.5. If the sign off is red, the dev team fixes the issues reported by QA, uplift them to the release branch and we build another Release Candidate.',
    appstore_sent_0:  'We submit ' ~ release ~ '.0 for review to the Apple Store. If we don`t have a working build by the end of the day, we may not ship this week.',
    appstore_sent_1:  'We submit ' ~ release ~ '.1 for review to the Apple Store. If we don`t have a working build by the end of the day, we may not ship this week.',
    appstore_sent_2:  'We submit ' ~ release ~ '.2 for review to the Apple Store. If we don`t have a working build by the end of the day, we may not ship this week.',
    appstore_sent_3:  'We submit ' ~ release ~ '.3 for review to the Apple Store. If we don`t have a working build by the end of the day, we may not ship this week.',
    appstore_sent_4:  'We submit ' ~ release ~ '.4 for review to the Apple Store. If we don`t have a working build by the end of the day, we may not ship this week.',
    appstore_sent_5:  'We submit ' ~ release ~ '.5 for review to the Apple Store. If we don`t have a working build by the end of the day, we may not ship this week.',
    release_0:  release ~ '.0 is shipped on the Apple Store at 3:00 AM UTC with a phased 7 days rollout:<br>Monday: 1%, Tuesday: 2%, Wednesday: 5%, Thursday: 10%, Friday: 20%, Saturday: 50%, Sunday: 100%.',
    release_1:  release ~ '.1 is shipped on the Apple Store at 3:00 AM UTC with a phased 7 days rollout:<br>Monday: 1%, Tuesday: 2%, Wednesday: 5%, Thursday: 10%, Friday: 20%, Saturday: 50%, Sunday: 100%.',
    release_2:  release ~ '.2 is shipped on the Apple Store at 3:00 AM UTC with a phased 7 days rollout:<br>Monday: 1%, Tuesday: 2%, Wednesday: 5%, Thursday: 10%, Friday: 20%, Saturday: 50%, Sunday: 100%.',
    release_3:  release ~ '.3 is shipped on the Apple Store at 3:00 AM UTC with a phased 7 days rollout:<br>Monday: 1%, Tuesday: 2%, Wednesday: 5%, Thursday: 10%, Friday: 20%, Saturday: 50%, Sunday: 100%.',
    release_4:  release ~ '.4 is shipped on the Apple Store at 3:00 AM UTC with a phased 7 days rollout:<br>Monday: 1%, Tuesday: 2%, Wednesday: 5%, Thursday: 10%, Friday: 20%, Saturday: 50%, Sunday: 100%.',
    release_5:  release ~ '.5 is shipped on the Apple Store at 3:00 AM UTC with a phased 7 days rollout:<br>Monday: 1%, Tuesday: 2%, Wednesday: 5%, Thursday: 10%, Friday: 20%, Saturday: 50%, Sunday: 100%.',
    }
%}

{% if release == '146' %}
    {# We only have two weekly releases for the 146 cycle #}
    {% set ios_cycle_descriptions = ios_cycle_descriptions|merge({ merge_day_1:'The <code>firefox-v' ~ release ~ '.1</code> branch is created from the <code>main</code> branch. <code>version.txt</code> is bumped to ' ~ (release+1)  ~ '.0 on <code>main</code>. Any further code change for the ' ~ release ~ '.1 release now requires an uplift request.'}) %}
{% endif %}

{% if release == '147' %}
    {# We have two extra weekly iOS releases for the 147 cycle #}
    {% set ios_cycle_descriptions = ios_cycle_descriptions|merge({ merge_day_3:'The <code>firefox-v' ~ release ~ '.3</code> branch is created from the <code>main</code> branch. <code>version.txt</code> is bumped to ' ~ (release)  ~ '.4 on <code>main</code>. Any further code change for the ' ~ release ~ '.3 release now requires an uplift request.'}) %}
{% endif %}

{% if release == '152' %}
    {# We have one extra weekly iOS releases for the 147 cycle #}
    {% set ios_cycle_descriptions = ios_cycle_descriptions|merge({ merge_day_3:'The <code>firefox-v' ~ release ~ '.3</code> branch is created from the <code>main</code> branch. <code>version.txt</code> is bumped to ' ~ (release)  ~ '.4 on <code>main</code>. Any further code change for the ' ~ release ~ '.3 release now requires an uplift request.'}) %}
    {% set ios_cycle_descriptions = ios_cycle_descriptions|merge({ merge_day_4:'The <code>firefox-v' ~ release ~ '.3</code> branch is created from the <code>main</code> branch. <code>version.txt</code> is bumped to ' ~ (release+1)  ~ '.0 on <code>main</code>. Any further code change for the ' ~ release ~ '.3 release now requires an uplift request.'}) %}
{% endif %}


        <div id="ios" class="table-container no-focus-scroll">
            <table class="table table-light table-sm w-50 justify-content-center mb-3">
                <tr>
                    <th colspan="2" class="text-center table-warning force-default-bg fw-semibold">Milestones</th>
                </tr>

        {% set next_milestone = true %}
        {% for key, value in ios_schedule %}
            {% if key == 'version' %}
                {# do nothing, skip it #}
            {% else %}
                {% set extra = '' %}
                {% if key starts with 'qa_signoff_' %}
                    {% set extra = ' <small class="badge bg-warning text-dark fw-semibold">Release notes ready</small>' %}
                {% endif %}
                <tr>
                    <th {{ date(value) < date('today') ? ' class="text-muted fw-light"' }}>
                    {% if date(value) < date('today') or not next_milestone %}
                        <details>
                    {% else %}
                        <details open>
                        {% set next_milestone = false %}
                    {% endif %}
                            <summary>{{ ios_cycle_labels[key]|raw }}{{ extra|raw }}</summary>
                            <p>{{ ios_cycle_descriptions[key]|raw }}</p>
                        </details>
                    </th>
                    <td {{ date(value) < date('today') ? ' class="text-muted fw-light"' }}>
                        <span
                          class="schedule_date"
                          data-bs-toggle="tooltip"
                          data-bs-placement="left"
                          data-bs-html="true"
                          title="{{ value|format_date('relative_full')}} <br><b> {{ deadlines[key]['message'] ?? '' }}"
                        >{{ value|format_date(pattern=date_pattern) }}</span>{% if value|format_date(pattern='YYYY-MM-dd') in wellness_days %}<span
                          data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
                          title="Wellness day. <br>Reduced availability of Mozilla Staff."
                          class='text-muted'><sup class="text-danger">?</sup></span>
                          {% set wellness_days = wellness_days | filter((v) => v != value|format_date(pattern='YYYY-MM-dd')) %}
                          {% endif %}<br>
                          <small class="fst-italic text-end">{{ deadlines[key]['message']}}</small>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
            </table>
        </div>
    </div>