{% extends 'base.html.twig' %}

{% block header %}
  <header class="mx-auto">
    <h1>
      <a href="?date={{ previous_date }}">«</a>
      &nbsp;{{ display_date|format_datetime('full', 'none', locale='en') }}&nbsp;
      {% if requested_date != today %}<a href="?date={{ next_date }}">»</a><br><a href="?date=today" class="btn btn-primary">Today</a>{% endif %}
    </h1>
  </header>
{% endblock %}
{% block main %}
{% for dataset in nightly_pairs %}
    <a href="#buildid_{{ dataset.buildid }}" name="buildid_{{ dataset.buildid }}" class="buildid list-group-item float-start bg-transparent">#</a>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item bg-info">
            <a href="https://hg.mozilla.org/mozilla-central/changeset/{{ dataset.changeset }}" class="text-light">{{ dataset.buildid }}</a>
        </li>
        <li class="list-group-item text-light bg-secondary">
            <a href="https://hg.mozilla.org/mozilla-central/pushloghtml?fromchange={{ dataset.prev_changeset }}&tochange={{  dataset.changeset }}" class="text-light">Changelog</a>
        </li>
        <li class="list-group-item text-light bg-success">
            <a href="{{ bug_list[dataset.buildid].url }}" class="text-light">Patches from {{ bug_list[dataset.buildid].count }} bugs</a>
        </li>
        <li class="list-group-item text-light bg-primary">
              <a class="text-light" data-bs-toggle="collapse" href="#collapse{{ dataset.buildid }}">Show list of bugs</a>
        </li>
        <li class="list-group-item text-light bg-danger">
            <a href="https://crash-stats.mozilla.com/api/SuperSearch/?build_id={{ dataset.buildid }}&_facets=signature&product=Firefox" class="text-light">{{build_crashes[dataset.buildid] }} crashes</a>
        </li>
    </ul>
    <p>

</p>
<div class="collapse" id="collapse{{  dataset.buildid }}">
    <table class="table table-light table-striped table-bordered table-sm mb-3">
      <tbody>
        <tr class="table-dark"  >
            <th>Bug</th>
            <th>Component</th>
            <th>Summary</th>
        </tr>

        {%for details in bug_list[dataset.buildid].bugs %}
        <tr class="small">
            <td><a href="https://bugzilla.mozilla.org/{{ details.id }}" style="display:inline-block; width:100%; height:100%; text-align:center">{{ details.id }}</a></td>
            <td><a href="https://bugzilla.mozilla.org/{{ details.id }}" style="display:inline-block; width:100%; height:100%; white-space: nowrap;" class="link-dark">{{ details.component }}</td>
            <td><a href="https://bugzilla.mozilla.org/{{ details.id }}" style="display:inline-block; width:100%; height:100%;" class="link-dark">{{ details.summary }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

    <ol>
    {%for sig in top_sigs[dataset.buildid] %}
    {% if sig.term in known_top_crashes %}
        {% set button, alert ='btn btn-info btn-sm', 'Known top crash' %}
    {% elseif ((sig.count/build_crashes[dataset.buildid])*100)|number_format(2) > 10 %}
        {% set button, alert = 'btn btn-danger btn-sm', 'Top crash' %}
    {% else %}
        {% set button, alert = '', '' %}
    {% endif %}
    <li>
        <a href="https://crash-stop-addon.herokuapp.com/sumup.html?s={{ sig.term }}">{{ sig.term }}</a> <b title="{{ sig.count }}">({{ ((sig.count/build_crashes[dataset.buildid])*100)|number_format(2) }}%)</b> <span class="{{ button }}">{{ alert }}</span>
    </li>
    {% endfor %}
    </ol>
{% else %}
<p>No Nightly build released yet today</p>
{% endfor %}




    <script src="/assets/jquery/jquery.slim.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
