{% extends 'base.html.twig' %}

{% block header %}
  <header class="mx-auto">
    <h1>
      <a href="?date={{ previous_date }}">«</a>
      &nbsp;{{ display_date|format_datetime('full', 'none', locale='en') }}&nbsp;
      {% if requested_date != today %}<a href="?date={{ next_date }}">»</a><br><a href="?date=today" class="btn btn-primary">Today</a>{% endif %}
    </h1>
  </header>
{% endblock %}
{% block main %}
{% for dataset in nightly_pairs %}
    <a href="#buildid_{{ dataset.buildid }}" name="buildid_{{ dataset.buildid }}" class="buildid pe-2 pt-2 text-light float-start bg-transparent">#</a>
    <ul class="list-group list-group-horizontal">
        {% if fallback_nightly %}
        <li class="list-group-item bg-warning"></li>
        {% endif %}
        <li class="list-group-item bg-info border-0">
            <a href="https://hg.mozilla.org/mozilla-central/changeset/{{ dataset.changeset }}" class="text-light" title="Nightly {{ dataset.version }}">{{ dataset.buildid }}</a>
        <li class="list-group-item text-light bg-secondary border-0">
            <a href="https://hg.mozilla.org/mozilla-central/pushloghtml?fromchange={{ dataset.prev_changeset }}&tochange={{  dataset.changeset }}" class="text-light">Changelog</a>
        </li>
        <li class="list-group-item text-light bg-success border-0">
            <a href="{{ bug_list[dataset.buildid].url }}" class="text-light">Patches from {{ bug_list[dataset.buildid].count }} bugs</a>
        </li>
        <li class="list-group-item text-light bg-primary border-0">
              <a class="text-light" data-bs-toggle="collapse" href="#collapse{{ dataset.buildid }}">Show list of bugs</a>
        </li>
        <li class="list-group-item text-light bg-danger border-0">
            <a href="https://crash-stats.mozilla.org/api/SuperSearch/?build_id={{ dataset.buildid }}&_facets=signature&product=Firefox" class="text-light">{{build_crashes[dataset.buildid] }} crashes</a>
        </li>
    </ul>
    <p>

</p>
<div class="collapse" id="collapse{{  dataset.buildid }}">
    <table class="table table-light table-striped table-bordered table-sm mb-3">
       <thead>
        <tr class="table-dark">
            <th>Bug</th>
            <th>Component</th>
            <th>Impact</th>
            <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        {%- for details in bug_list[dataset.buildid].bugs -%}
            {%- set alert_link = '' -%}
            {%- set alert_title = '' -%}
            {%- set alert_row = '' -%}
            {%- set pill_level = 'text-bg-light border' -%}
            {%- if details.type == 'enhancement' -%}
                {%- set alert_link =' text-success fw-bold' -%}
                {%- set alert_title =' title="Bug marked as Enhancement"' -%}
            {%- endif -%}
            {%- if bug_list_karma[details.id].score > 8 -%}
                {%- set pill_level ='text-bg-warning' -%}
            {%- endif -%}
            {%- if bug_list_karma[details.id].score > 15 -%}
                {%- set alert_row ='fw-bold' -%}
                {%- set pill_level ='text-bg-danger' -%}
            {%- endif -%}
        <tr class="small {{ alert_row }}">
            <td><a href="https://bugzilla.mozilla.org/{{ details.id }}" class="text-end text-nowrap bug-link link-primary {{ alert_link }}" {{ alert_title|raw }}>{{ details.id|number_format(0, '', '&thinsp;')|raw  }}</a></td>
            <td><a href="https://bugzilla.mozilla.org/{{ details.id }}" class="bug-link link-dark {{ alert_link }}">{{ details.component }}</td>
            <td class="text-center {{ alert_row }}">
                <span class="badge rounded-pill {{ pill_level }} score-pill">{{ bug_list_karma[details.id].score }}</span>
                <div class="card text-bg-primary mb-3 score-card">
                        <div class="card-body p-2">
                            <table class="table table-borderless table-sm">
                            {%- for key, score_detail in bug_list_karma[details.id].details -%}
                                {%- if score_detail != 0 -%}
                                <tr class="small text-light bg-primary">
                                    <th class="text-start p-0 text-light bg-primary">{{ key }}</th>
                                    <td class="text-end p-0 fw-normal text-light bg-primary">{{ score_detail }}</td>
                                </tr>
                                {%- endif -%}

                            {%- endfor -%}
                            </table>
                        </div>
                    </div>
              </div>
            </td>
            <td><a href="https://bugzilla.mozilla.org/{{ details.id }}" class="bug-link link-dark {{ alert_link }}">{{ details.summary }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

    <ol>
    {%for sig in top_sigs[dataset.buildid] %}
    {% if sig.term in known_top_crashes %}
        {% set button, alert ='btn btn-info btn-sm', 'Known top crash' %}
    {% elseif ((sig.count/build_crashes[dataset.buildid])*100)|number_format(2) > 10 %}
        {% set button, alert = 'btn btn-danger btn-sm', 'Top crash' %}
    {% else %}
        {% set button, alert = '', '' %}
    {% endif %}
    <li>
        <a href="https://crash-stats.mozilla.org/signature/?signature={{ sig.term }}" title="Go to Crash Stats"><img src="/assets/img/socorro.png" width="16" height="16" alt=""/></a> <a href="https://crash-stop-addon.herokuapp.com/sumup.html?s={{ sig.term }}">{{ sig.term }}</a>  <b title="{{ sig.count }}">({{ ((sig.count/build_crashes[dataset.buildid])*100)|number_format(2) }}%)</b> <span class="{{ button }}">{{ alert }}</span>
    </li>
    {% endfor %}
    </ol>
{% else %}
<p>No Nightly build released yet today</p>
{% endfor %}




    <script src="/assets/jquery/jquery.slim.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script nonce="4AEemGb0xJptoIGFP3Nd">
// jQuery:
$(document).ready(function() {

    // sort table data:
    $(document).on("click", "table thead tr  th:not(.no-sort)", function() {
        var table = $(this).parents("table");
        var rows  = $(this).parents("table").find("> tbody > tr").toArray().sort(TableComparer($(this).index()));
        var dir   = ($(this).hasClass("sort-asc")) ? "desc" : "asc";

        if (dir == "desc") {
            rows = rows.reverse();
        }

        for (var i = 0; i < rows.length; i++) {
            table.append(rows[i]);
        }

        table.find("table thead tr th").removeClass("sort-asc").removeClass("sort-desc");
        $(this).removeClass("sort-asc").removeClass("sort-desc") .addClass("sort-" + dir);
    });

});


// table data comparison:
function TableComparer(index) {
    return function(a, b) {
        var val_a  = TableCellValue(a, index);
        var val_b  = TableCellValue(b, index);
        var result = ($.isNumeric(val_a) && $.isNumeric(val_b)) ? val_a - val_b : val_a.toString().localeCompare(val_b);

        return result;
    }
}


// get table cell value:
function TableCellValue(row, index) {
    return $(row).children("td").eq(index).children(":first-child").text();
}

</script>
{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
