{% extends 'base.html.twig' %}
{% block head_additions %}
    <meta name="description" content="Follow Firefox trains and major milestones easily!">
    <meta property="og:site_name" content="Firefox desktop trains">
    <meta property="og:url" content="https://releaseinsights.pascalc.net">
    <meta property="og:title" content="Firefox desktop trains">
    <meta property="og:description" content="Follow Firefox trains and major milestones easily!">
    <meta property="twitter:title" content="Firefox desktop trains">
    <meta property="twitter:description" content="Follow Firefox trains and major milestones easily!">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@pascalchevrel">
    <meta property="twitter:image" content="https://releaseinsights.pascalc.net/assets/img/site-sharing-header.png">
{% endblock %}

{% block header %}
  <h1 class="text-center">Current Firefox trains</h1>
{% endblock %}

{% block main %}

<div class="container  h-100">
  <div class="row text-center align-items-center">
    <div class="col-sm">
      <div><img src="/assets/img/firefox-logo.svg" width="70%"></div>
      <h2>{{ constant('FIREFOX_RELEASE')|number_format }}</h2>
      <h3><a href="/release/?version=release" data-toggle="tooltip" data-placement="top" data-html="true" title="Click this link to get past data about the version currently shipped to users on the <b>release</b> channel.">Release</a></h3>
    </div>
    <div class="col-sm">
      <div><img src="/assets/img/firefox-logo-beta.svg" width="70%"></div>
      <h2>{{ constant('FIREFOX_BETA')|number_format }}</h2>
      <h3><a href="/release/?version=beta" data-toggle="tooltip" data-placement="top" data-html="true" title="Click this link to get detailed data about the <b>Beta</b> cycle.">Beta</a></h3>
    </div>
    <div class="col-sm">
      <div><img src="/assets/img/firefox-logo-nightly.svg" width="70%"></div>
      <h2>{{ constant('FIREFOX_NIGHTLY')|number_format }}</h2>
      <h3><a href="/release/?version=nightly" data-toggle="tooltip" data-placement="top" data-html="true" title="Click this link to get information about the <b>Nightly</b> cycle.">Nightly</a></h3>
    </div>
  </div>
</div>

  {% if nightly_cycle_dates.merge_day|date('Y-m-d') == now|date('Y-m-d') %}
      {% set merge_day = true %}
  {% endif %}

  {% if rc_week %}
    <h3 class="text-center"><b class="alert alert-primary">We are in RC&nbsp;week</b></h3>
  {% endif %}

  {% if merge_day %}
    <h3 class="text-center"><b class="alert alert-primary">Today is Merge Day</b></h3>
  {% else %}
    <h3 class="text-center">Next merge day: {{ nightly_cycle_dates.merge_day|format_date(pattern='MMMM d', locale='en') }}</h3>
  {% endif %}

  {% if release_day %}
  <h3 class="text-center">
    <b class="alert alert-info text-dark" role="alert">Firefox {{ shipping_release }} is shipping today!</b>
  </h3>
  {% else %}
    {% if constant('FIREFOX_BETA')|number_format != constant('FIREFOX_RELEASE')|number_format %}
      <h3 class="text-center">Firefox {{ constant('FIREFOX_BETA')|number_format }} ships on {{ nightly_cycle_dates.beta_1|date_modify("+1 day")|format_date(pattern='MMMM d', locale='en') }}
      {% set difference = date(nightly_cycle_dates.beta_1).diff(date('today')) %}
      {% set leftDays = difference.days %}
      {% if leftDays == 0 %}
        (in 1 day)
      {% else %}
        <small>(in {{ leftDays }} days)</small>
      {% endif %}
      </h3>
    {% endif %}
  {% endif %}

{% endblock %}

{% block footer %}
  <footer></footer>
  <script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
  </script>
{% endblock %}

