{% extends 'base.html.twig' %}
{% block head_additions %}
    <meta name="description" content="Follow Firefox trains and major milestones easily!">
    <meta property="og:site_name" content="Firefox desktop trains">
    <meta property="og:url" content="https://fx-trains.herokuapp.com/">
    <meta property="og:title" content="Firefox desktop trains">
    <meta property="og:description" content="Follow Firefox trains and major milestones easily!">
    <meta property="twitter:title" content="Firefox desktop trains">
    <meta property="twitter:description" content="Follow Firefox trains and major milestones easily!">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@pascalchevrel">
    <meta property="twitter:image" content="https://fx-trains.herokuapp.com/assets/img/site-sharing-header.png">
{% endblock %}

{% set tooltip_defaults = ' data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" ' %}

{% block header %}
  <a href="/about" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Get the list of views and APIs available in this application."><span class="information">i</span></a>

  <h1 class="text-center">Current Firefox trains</h1>
{% endblock %}

{% block main %}
<div class="container  h-100">
  <div class="row text-center align-items-center">
    <div class="col-sm">
      <div><img src="/assets/img/firefox-logo.svg" width="70%"></div>
      <h2 {{ tooltip_defaults|raw }} title="Latest version:<br><b>{{ constant('FIREFOX_RELEASE') }}</b>">{{ constant('FIREFOX_RELEASE')|number_format }}</h2>
      <h3><a href="/release/?version=release" {{ tooltip_defaults|raw }} title="Click this link to get past data about the version currently shipped to users on the <b>release</b> channel." class="link-info">Release</a></h3>
    </div>
    <div class="col-sm">
      <div><img src="/assets/img/firefox-logo-beta.svg" width="70%"></div>
      <h2 {{ tooltip_defaults|raw }} title="Latest version:<br><b>{{ rc_build }}</b>">{{ constant('FIREFOX_BETA')|number_format }}</h2>
      <h3><a href="/release/?version=beta" {{ tooltip_defaults|raw }} title="Click this link to get detailed data about the <b>Beta</b> cycle." class="link-info">Beta</a></h3>
    </div>
    <div class="col-sm">
      <div><img src="/assets/img/firefox-logo-nightly.svg" width="70%"></div>
      <h2 {{ tooltip_defaults|raw }} title="Latest buildID:<br><b>{{ latest_nightly }}</b>">{{ constant('FIREFOX_NIGHTLY')|number_format }}</h2>
      <h3><a href="/release/?version=nightly" {{ tooltip_defaults|raw }} title="Click this link to get information about the <b>Nightly</b> cycle." class="link-info">Nightly</a></h3>
    </div>
  </div>
</div>

  {% if nightly_cycle_dates.merge_day|date == now|date %}
      {% set merge_day = true %}
  {% endif %}

  {% if rc_week %}
    <h3 class="text-center"><b class="alert alert-primary">We are in <abbr title="Release Candidate" class="initialism">RC</abbr>&nbsp;week</b></h3>
  {% endif %}

  {% if merge_day %}
    <h3 class="text-center"><b class="alert alert-primary">Today is Merge Day</b></h3>
  {% elseif nightly_cycle_dates.merge_day|date > now|date %}
    <h3 class="text-center">Next merge day: {{ nightly_cycle_dates.merge_day|format_date(pattern='MMMM d', locale='en') }}</h3>
  {% endif %}

  {% if release_day %}
  <h3 class="text-center">
    <b class="alert alert-info text-dark" role="alert">Firefox {{ constant('FIREFOX_BETA')|number_format }} is shipping today!</b>
  </h3>
  {% else %}
    {% if constant('FIREFOX_BETA')|number_format != constant('FIREFOX_RELEASE')|number_format %}
      <h3 class="text-center">Firefox {{ constant('FIREFOX_BETA')|number_format }} ships on {{ beta_cycle_dates.release|format_date(pattern='MMMM d', locale='en') }}
      {% set difference = date(beta_cycle_dates.release).diff(date('today')) %}
      {% set leftDays = difference.days %}
      {% if leftDays == 1 %}
        <small>(in 1 day)</small>
      {% else %}
        <small>(in {{ leftDays }} days)</small>
      {% endif %}
      </h3>
    {% endif %}
  {% endif %}



    <script src="/assets/jquery/jquery.slim.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block footer %}
  <footer></footer>
  <script nonce="4AEemGb0xJptoIGFP3Nd">
$(function () {
  $('[data-bs-toggle="tooltip"]').tooltip()
})
  </script>
{% endblock %}
