{% extends 'base.html.twig' %}
{% block header %}
  <header class="mx-auto">
    <h1>
      <a href="?version={{ release -1 }}" title="Previous release" alt="Go to previous release" class="text-decoration-none">«</a>
      &nbsp;Firefox&nbsp;{{ release }}&nbsp;
      <a href="?version={{ release +1 }}" title="Next release"  alt="Go to next release" class="text-decoration-none">»</a>
      {% if release != constant('FIREFOX_RELEASE')|number_format %}
        <br><a href="?version={{ constant('FIREFOX_RELEASE')|number_format }}"
      class="btn btn-primary">Go to last shipped release</a>
      {% else %}
        <div class="w-50 alert alert-primary mx-auto h6 fw-normal" role="alert">Version shipping to end users</div>
      {% endif %}
    </h1>
  </header>
{% endblock %}

{% block main %}
  <table class="table table-light table-striped table-bordered table-sm w-50 justify-content-center">
    <tr>
      <th class="w-auto">Release Date</th><td title="{{ release_date|format_date('full', locale='en') }}">{{ release_date|format_date('long', locale='en') }}</td>
    </tr>
    <tr>
      <th class="w-auto">Release Owner</th><td>{{ release_owner }}</td>
    </tr>
    <tr>
      <th>Nightly cycle length</th><td>{{ nightly_cycle_length|number_format }} weeks</td>
    </tr>
    <tr>
      <th>Beta cycle length</th><td>{{ beta_cycle_length|number_format }} weeks</td>
    </tr>
    {% if release > 57 %}
    <tr>
      <th>Bugs fixed in nightly</th><td>{{ nightly_fixes.bug_fixes|length }}</td>
    </tr>
    {% endif %}

    {% if beta_uplifts %}
    <tr>
      <th>Uplifts in <a href="{{ beta_changelog }}">Beta</a></th><td><a href="{{ beta_uplifts_url }}">{{ beta_uplifts.total|length }}</a> ({{ beta_uplifts.backouts|length }} backout{{ beta_uplifts.backouts|length != 1 ? 's' }})</td>
    </tr>
    {% else %}
    <tr>
      <th>Uplifts in Beta</th><td>Data cannot be extracted from mercurial (missing HG tag for beta)</td>
    </tr>
    {% endif %}

    <tr>
      <th>Uplifts in <a href="{{ rc_changelog }}">RC</a></th><td><a href="{{ rc_uplifts_url }}">{{ rc_uplifts.total|length }}</a> ({{ rc_uplifts.backouts|length }} backout{{ rc_uplifts.backouts|length != 1 ? 's' }})</td>
    </tr>
    <tr>
      <th>Total number of uplifts</th><td>{{ beta_uplifts.total|length + rc_uplifts.total|length}}</td>
    </tr>
    <tr>
      <th>Betas</th><td>{{ beta_count }}</td>
    </tr>
    <tr>
      <th>Release Candidates</th><td>{{ rc_count }}</td>
    </tr>
    <tr>
      <th>Dot releases</th><td>{{ dot_release_count }}</td>
    </tr>
    <tr>
      <th class="">Release notes</th>
      <td class="w-auto">
      <ul class="list-inline mb-0">
        <li class="list-inline-item m-0"><a href="https://www.mozilla.org/en-US/firefox/{{ release|number_format(1) }}/releasenotes/">Consumer notes</a></li>
        <li class="list-inline-item m-0"><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/{{ release }}">Developer notes</a></li>
      </ul>
    </td>
    </tr>
    <tr>
      <th>Corresponding ESR release</th>
      <td>{{ ESR }}</td>
    </tr>
    </table>

  <p>{{ fallback_content | raw}}</p>

{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
