{% extends 'base.html.twig' %}
{% block header %}
     {%  include 'release_nav.html.twig' %}
{% endblock %}

  {% if release == constant('FIREFOX_RELEASE')|number_format %}
    {% set alert = 'Version shipping to end-users on the <b class="text-danger">release</b> channel.' %}
    {% set channel = 'release' %}
  {% endif %}

{% block main %}

  {% if channel == 'release' %}
  <div class="w-50 alert alert-primary mx-auto text-center" role="alert">{{ alert|raw }}</div>
  {% endif %}

  <table class="table table-light table-striped table-bordered table-sm w-50 justify-content-center">
    <tr>
      <th class="w-auto">Release Date</th><td title="{{ release_date|format_date('full', locale='en') }}">{{ release_date|format_date('long', locale='en') }}</td>
    </tr>
    <tr>
      <th class="w-auto">Release Owner</th><td>{{ release_owner }}</td>
    </tr>
    <tr>
      <th>Nightly cycle length</th><td>{{ nightly_cycle_length|number_format }} weeks</td>
    </tr>
    <tr>
      <th>Beta cycle length</th><td>{{ beta_cycle_length|number_format }} weeks</td>
    </tr>
    {% if release > 57 %}
    <tr>
      <th>Bugs fixed in nightly</th><td>{{ nightly_fixes.bug_fixes|length }}</td>
    </tr>
    {% endif %}

    {% if beta_uplifts %}
    <tr>
      <th>Uplifts in <a href="{{ beta_changelog }}">Beta</a></th><td><a href="{{ beta_uplifts_url }}">{{ beta_uplifts.total|length }}</a> ({{ beta_uplifts.backouts|length }} backout{{ beta_uplifts.backouts|length != 1 ? 's' }})</td>
    </tr>
    {% else %}
    <tr>
      <th>Uplifts in Beta</th><td>Data cannot be extracted from mercurial (missing HG tags)</td>
    </tr>
    {% endif %}

    {% if rc_uplifts %}
    <tr>
      <th>Uplifts in <a href="{{ rc_changelog }}">RC</a></th><td><a href="{{ rc_uplifts_url }}">{{ rc_uplifts.total|length }}</a> ({{ rc_uplifts.backouts|length }} backout{{ rc_uplifts.backouts|length != 1 ? 's' }})</td>
    </tr>
    {% else %}
    <tr>
      <th>Uplifts in RC</th><td>Data cannot be extracted from mercurial (missing HG tags)</td>
    </tr>
    {% endif %}
    <tr>
      <th>Total number of uplifts</th><td>{{ beta_uplifts.total|length + rc_uplifts.total|length}}</td>
    </tr>
    <tr>
      <th>Betas</th><td>{{ beta_count }}</td>
    </tr>
    <tr>
      <th>Release Candidates</th><td>{{ rc_count }}</td>
    </tr>
    <tr>
      <th>Dot releases</th><td>{{ dot_release_count }}</td>
    </tr>
    <tr>
      <th class="">Release notes</th>
      <td class="w-auto">
      <ul class="list-inline mb-0">
        <li class="list-inline-item m-0"><a href="https://www.mozilla.org/en-US/firefox/{{ release|number_format(1) }}/releasenotes/">Consumer notes</a></li>
        <li class="list-inline-item m-0"><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/{{ release }}">Developer notes</a></li>
      </ul>
    </td>
    </tr>

    {% if OLDER_ESR %}
    <tr>
      <th>Corresponding ESR releases</th>
      <td>{{ ESR }} &middot; {{ OLDER_ESR }} </td>
    </tr>

    {% else %}
    <tr>
      <th>Corresponding ESR release</th>
      <td>{{ ESR }}</td>
    </tr>
    {% endif %}

    </table>
  <table class="table table-light table-striped table-bordered table-sm w-50 justify-content-center mt-4">
    <tr>
      <th colspan="2" class="text-center table-warning">Key Milestones</th>
    </tr>
    <tr>
      <th>Nightly start</th>
      <td title="{{ nightly_start_date|format_date('full', locale='en') }}">{{ nightly_start_date|format_date(pattern='MMMM d', locale='en') }}</td>
    </tr>
    <tr>
      <th>Beta start</th>
      <td title="{{ beta_start_date|format_date('full', locale='en') }}">{{ beta_start_date|format_date(pattern='MMMM d', locale='en') }}</td>
    </tr>
    <tr>
      <th>{{ release }}.0</th>
      {% if release == 14 %}
      <td>Version never shipped</td>
      {% else %}
      <td title="{{ release_date|format_date('full', locale='en') }}">{{ release_date|format_date(pattern='MMMM d', locale='en') }}</td>
      {% endif %}
    </tr>

    {% if dot_release_count > 0 %}

      {% for dot_release in 1..dot_release_count %}
        {%  set dot_release_date = firefox_releases['firefox-' ~ release ~ '.0.' ~ dot_release].date|format_date(pattern='MMMM d', locale='en') %}

        {% if dot_release == 1 %}
              {% set dot_release_link = 'https://hg.mozilla.org/releases/mozilla-release/pushloghtml?fromchange=FIREFOX_' ~  release ~ '_0_RELEASE&tochange=FIREFOX_' ~  release ~ '_0_1_RELEASE&full&version=2' %}
        {%  else %}
              {% set dot_release_link = 'https://hg.mozilla.org/releases/mozilla-release/pushloghtml?fromchange=FIREFOX_' ~  release ~ '_0_' ~ (dot_release -1) ~ '_RELEASE&tochange=FIREFOX_' ~  release ~ '_0_' ~ dot_release ~ '_RELEASE&full&version=2' %}
        {%  endif %}

        <tr>
          <th><a href="{{ dot_release_link}}" class="link-secondary" title="Mercurial changelog">{{ release }}.0.{{ dot_release }}</a></th>
          <td title="{{ dot_release_date|format_date('full', locale='en') }}">{{ dot_release_date }}</td>
        </tr>
       {% endfor %}
     {% endif %}

     {% if release ~ '.0' not in no_planned_dot_releases %}
       {% if "now"|date('Y-m-d') < release_date|date_modify("+" ~ ( release == 106 ? '1' : '2' ) ~  " weeks")|date('Y-m-d') %}
          <tr>
            <th>Planned {{ release }}.0.x</th>
            <td title="">{{ release_date|date_modify("+2 weeks")|format_date(pattern='MMMM d', locale='en') }}</td>
          </tr>
       {% endif %}
     {% endif %}

  </table>

{% endblock %}

{% block footer %}
       {%  include 'footer_UTC_warning.html.twig' %}
{% endblock %}
