{% extends 'base.html.twig' %}

{% block header %}
  <header class="mx-auto">
    <h1>
      <a href="?version={{ release -1 }}">«</a>
      &nbsp;Firefox&nbsp;{{ release }}&nbsp;
      {% if release != constant('FIREFOX_RELEASE') %}<a href="?version={{ release +1 }}">»</a><br><a href="?version={{ constant('FIREFOX_RELEASE')|number_format }}" class="btn btn-primary">Current</a>{% endif %}
    </h1>
  </header>
{% endblock %}

{% block main %}
  <ul>
    <li>Release Date: {{ release_date }} </li>
    <li>Beta cycle length: {{ beta_cycle_length|number_format }} weeks</li>
    <li>Nightly cycle length: {{ nightly_cycle_length|number_format }} weeks</li>
    {% if release > 57 %}
    <li>Fixes in nightly: {{ nightly_fixes.total|length }} bugs fixed</li>
    {% endif %}
    <li>Uplifts in <a href="{{ beta_changelog }}">Beta</a>: <a href="{{ beta_uplifts_url }}">{{ beta_uplifts.total|length }} uplifted bugs</a>  of which <a href="{{ beta_backouts_url }}">{{ beta_uplifts.backouts|length }} backed out</a></li>
    <li>Uplifts in <a href="{{ rc_changelog }}">RC</a>: <a href="{{ rc_uplifts_url }}">{{ rc_uplifts.total|length }} uplifted bugs</a>  of which <a href="{{ rc_backouts_url }}">{{ rc_uplifts.backouts|length }} backed out</a></li>
    <li>Number of RC builds: {{ rc_count }}</li>
    <li>Number of Beta builds: {{ beta_count }}</li>
    <li>Number of dot releases: {{ dot_release_count }}</li>
  </ul>

  <p>{{ page_content | raw}}</p>

{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
