{% extends 'base.html.twig' %}

{% block head_additions %}
    {% set meta_description = 'Follow Firefox trains and major milestones easily!' %}
    <meta name="description" content="{{ meta_description }}">
    <meta property="twitter:description" content="{{ meta_description }}">
    <meta property="og:url" content="https://whattrainisitnow.com/owners/">
{% endblock %}

{% block main %}
    <h2 class="text-center w-75 mx-auto mb-3">{{ page_title }}</h2>

    <table class="table table-light table-fxt-clean table-sm mb-3 w-75">
        <tr class="table-warning">
            <th class="text-secondary-emphasis fw-semibold">Release Owner</th>
            <th class="text-secondary-emphasis fw-semibold">Releases</th>
            <th class="text-secondary-emphasis fw-semibold">Total</th>
        </tr>

      {% set counter = 0 %}
      {% for key, values in owners %}
        <tr>
            <td>{{ values.owner }}</td>
            <td>
            {% for release in values.releases %}
                {# The version formatting hack below removes trailink zeros but preserves versions like 1.5 or 3.6 #}
                <a href="/release/?version={{release}}">{{ "%g"|format(release) }}</a>
                   {% if not loop.last %}<span class=" text-secondary"> · </span>{% endif %}
            {% endfor %}
            </td>
            <td class='text-center'>{{ values.total }}</td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}

{% block footer %}
    <footer></footer>
{% endblock %}
