
<header class="mx-auto mb-3 no-focus-scroll">
    <h1>
    {% if release > 1 %}
        <a href="?version={{ release -1 }}" title="Previous release" class="text-decoration-none">«</a>
    {% endif %}
          &nbsp;Firefox&nbsp;{{ release }}&nbsp;
        <a href="?version={{ release +1 }}" title="Next release" class="text-decoration-none">»</a><br>
    {% if release != constant('FIREFOX_RELEASE')|number_format %}
        <a href="?version={{ constant('FIREFOX_RELEASE')|number_format }}" class="btn btn-primary">Go to <b>Release</b> channel</a>
    {% endif %}
    </h1>
    {% if release == constant('FIREFOX_RELEASE')|number_format %}
    <div class="alert text-bg-primary mx-auto p-1 mb-3 adoption" title="Note: adoption rate data has a 24h latency"><b>{{ cycle_uptake|number_format }}%</b> adoption rate</div>
    {% endif %}
</header>
